h4 {
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 1vh;
}

div.Container {
    font-family: Avenir;
    display: flex;
    justify-content: center;
    align-content: center;

}

div.Plan {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2658FF;
    color: white;
}

div.PlanItem {
    padding: 4vh 4vw;
    border: 3px solid white;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.Info {
    width: 50%;
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 5vh;
    width: 10vw;

}

button.StripeCheckout span {
   background-image: none !important;
   background-color: white;
   color:#2658FF !important;
}
