@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800');

body {
    font-family: 'Nunito Sans';
}

div.welcomebar h3 {
    margin-top: 0;
    font-weight: 100;
}
div.subcontainer {
    height: 90vh;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.welcomebar {
    background-color: #2658FF;
    color: white;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.userinfo {
    background-color:#e2e2e2;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

div.infobox {
    width: 60vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

div.infobox button.cancel {
    height: 3vh;
    background-color: white;
    color: #FF5964;
    border: none;
    border-radius: 1vh;
    font-family: 'Nunito Sans';
    font-size: .90em;
    

}   

div.card {
    background-color: #8B8B8B;
    width: 40vw;
    color: white;
    margin-top: -2vh;
    padding: .1%;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

div.card button {
    margin-top: 0;
    margin-left: 3vw;
}


