body {
    font-family: Avenir;
}

div.welcomebar h3 {
    margin-top: 0;
    font-weight: 100;
}
div.subcontainer {
    height: 90vh;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.welcomebar {
    background-color: #2658FF;
    color: white;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.userinfo {
    background-color:#e2e2e2;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

div.infobox {
    width: 60vh;
    height: 40vh;
    
}

div.card {
    background-color: #8B8B8B;
    color: white;
    margin-top: -2vh;
    padding: .1%;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

div.card button {
    margin-top: 0;
    margin-left: 3vw;
}

div.monster {
    width: 25vw;
    background-color: blue;
}
