div.contact-container {
    width: 100%;
    height: 90vh;
    display: flex;
    background-color:#E2E2E2;
}

div.textinfo {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3vw;
    padding-right: 3vw;
}

div.form {
    width: 50%;
    background-color: #4D76FF;
}

div.response {
    display: flex;
}

div.response h1 {
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1.5vh;
}