::placeholder {
    color: white;
}
h2 {
    font-weight: 100;
}

span {
    margin: 0 1%;
    font-size: 1.3em;

}

div.contact-container {
    width: 100%;
    height: 90vh;
    display: flex;
    background-color:#E2E2E2;
}

div.textinfo {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3vw;
    padding-right: 3vw;
    word-wrap: break-word;
    margin-top: -2vh;
}

div.form {
    width: 50%;
    background-color: #2658FF;
}

div.response {
    display: flex;
}

div.form {
    padding-top: 21vh;
    padding-left: 10vw;

}

div.form input {
    width: 25vw;
    margin-left: 0;
    background-color: #2658FF;
    color: white;  
    border-bottom: 1px solid #f7f5f5;
}


input:invalid:not(:focus) {
    background-color: #ce5959;
    border-bottom: none;
}

div.form textarea {
    background-color: #2658FF;
    color: white;
    width: 35vw;
    height: 8vw;
    margin-top: 3vh;
    padding-left: 0;
}

div.form button {
    width: 9vw;
    height: 5%;
    font-size: .9em;
    border-radius: 5px;
    font-weight: 700;
    color: #2658FF;
}
div.form button:hover {
    border: 2px solid white;
    background-color: #2658FF;
    color: white;
}
