div.sidebar {
    width: 20vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    font-family: Avenir;
}


div.iconbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #4D76FF;
    color: white;
   
    /* border-radius: 0vw 0vw 1vw 0vw; */

}

div.noteContainer {
    height: 90vh;
}

::-webkit-scrollbar {
   display: none;
}

div.addnote {
    display: flex;
    align-self: center;
    font-size: .4em;
}

div.addnote:hover {
    color: black;
}

