div.container {
    background-color: #f4f4f4;
    height: 11vh;
    border-bottom: 1px solid #E2E2E2;
    padding: 1vh;
    padding-left: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.container:hover {
    background-color: #E2E2E2;
}



p {
    font-family: Avenir;
}

p.title {
    font-weight: 700;
    font-size: 1.1em;
}

p.preview {
    font-size: .9em;
    margin-top: -2vh;
}