div {
    font-family: Avenir;
}
div.pomodoroframe {
    width: 100%;
    height: 15%;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    padding-top: 2vh;
    
    
}

div.timer {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

div.stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    opacity: 0.5;
}

div.stats span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.pomodoroframe i {
    font-size: 1.2em;
}

div.pomodoroframe p {
    margin: 0;
}

i:hover {
    color: #4D76FF;
}

