@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800');


div.editorFrame {
    display: flex;
    height: 100vh;
}

div.editor {
    width: 100vw;
    display: flex;
    padding-left: 3vw;
    padding-top: 1.5vh;
    padding-bottom: 2vh !important;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif !important;
    
}
:focus {outline:0;}


.md-RichEditor-root {
    padding: 1vh 2vw !important;
    padding-left: 0vw !important;
    font-size: 1.3em;
    background-color: transparent !important;
    
    
}

.public-DraftEditor-content {
    overflow-y: scroll;
    max-height: 82vh;
    
   
    
}


.md-editor-toolbar {
    font-family: 'Nunito Sans' !important;
    background-color: black !important;
    block-overflow: visible !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.md-RichEditor-controls {
    font-family: 'Nunito Sans' !important;
    font-weight: 700;
    
}



.md-RichEditor-root h1{
    line-height: 1.1em;
    font-size: 2.5em;
    margin-bottom: -3vh;
}

.md-RichEditor-root h2{
    line-height: 1.4em;
    font-size: 2em;
    margin-bottom: -1.5vh;
}

.md-side-toolbar {
    display: none;
}





blockquote {
    font-size: 1em !important;
    background-color:#E2E2E2 !important;
    border-left: 5% solid !important;
    border-left-color: #4D76FF !important;
    color: black !important;
}


input.titlebox {
    width: 65vw;
    height: 8vh;
    background-color: transparent;
    margin-bottom: 1vh;
    border: none;
    outline: none;
    /* border-bottom: 1px solid #E2E2E2; */

    font-family: 'Nunito Sans';
    font-size: 1.5em;
    font-weight: 700;
    color: #8B8B8B;
}


img.profilepic {
    width: 2.5vw;
    min-width: 30px;
    border-radius: 2vw;
    position: absolute;
    top: 2vh;
    right: 1vw;
}

div.menu {
    position: absolute;
    top: 2.5vh;
    right: 5vw;
    width: 1.5vw;
    font-size: .4em;
    color: #8B8B8B;
}

div.usermenu {
    position: absolute;
    top: 5vh;
    right: 3vw;
    width: 12vw;
    height: 22vh;
    background-color: #4D76FF;
    color: white;
    list-style: none;
    border-radius: 1vw 0vw 1vw 1vw;
    box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.75);
    z-index: 2;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    flex-direction: column;
    margin-top: 1vh;
    
    font-weight: 500;  
}

div.usermenu li {
    z-index: 2;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

div.usermenu Link {
    z-index: 2;
}

div.usermenu a {
    color: white;
}

div.notemenu {
    position: absolute;
    top: 2.3vh;
    
    width: 8vw;
    height: 3vh;
    background-color: #f7f5f5;
    color: #ce5959;
    list-style: none;
    border-radius: 1vw 1vw 1vw 1vw;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5vh .5vw;
    padding-top: 1vh;
}

div.notemenu li {
    z-index: 2;
    
}

div.notemenu a {
    color: white;
}



div.notemenu i {
    font-size: 1em;
    color: #ce5959;
}

div.usermenu i {
    font-size: 1em;
}

div.notemenu li:hover {
    cursor: pointer;
}

div.usermenu li:hover {
    cursor: pointer;
}


.md-block-todo {
   color: red;
   position: absolute;
   top: -6000px;
}

.md-RichEditor-styleButton-todo {
    display: none !important;
}

.md-editor-toolbar--isopen {
    width: 27% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-editor-toolbar:hover {
    color: red !important;
}



