
div.editorFrame {
    display: flex;
    height: 100vh;
    

}

div.editor {
    width: 80vw;
    display: flex;
    padding-left: 3vw;
    padding-top: 1.5vh;
    padding-bottom: 2vh;
    flex-direction: column;
    z-index: 1;
}
:focus {outline:0;}


.medium-editor-element:focus  {
    outline:0;
}

.medium-editor-element a  {
    color: #576593;
}
.md-RichEditor-root {
    overflow-y: scroll;
    padding: 1vh 2vw !important;
    padding-left: 0vw !important;
    
}

.md-RichEditor-root h1{
    line-height: 1.1em;
}

.md-RichEditor-root h2{
    line-height: 1.4em;
}

.medium-editor-placeholder:after {
    left: 100vw !important;
}

input.titlebox {
    width: 65vw;
    height: 8vh;
    
    border: none;
    outline: none;
    /* border-bottom: 1px solid #E2E2E2; */

    font-family: Avenir;
    font-size: 1.5em;
    font-weight: 700;
    color: #8B8B8B;
}


img.profilepic {
    width: 2vw;
    border-radius: 2vw;
    position: absolute;
    top: 1.5vh;
    right: 1vw;
}

img.trash {
    position: absolute;
    top: 3vh;
    right: 13vw;
    width: 1.5vw;
}



