div.editorFrame {
    display: flex;
    height: 100vh;

}

div.editor {
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
:focus {outline:0;}

.medium-editor-element {
    width:91%;
    margin-top: 5vh;
    height: 100vh;
    overflow-y: scroll;
  
    
}

.medium-editor-element:focus  {
    outline:0;
}

.medium-editor-element a  {
    color: #576593;
}

.medium-editor-placeholder:after {
    content: none;
}


textarea {
    width: 92%;
    height: 95vh;
    outline: none;
    border: none;
    font-size: 1.5em;
    padding: 3vh;
    font-family: Avenir;
    max-width: 100%;
    margin-bottom: 3vh;
    resize: none;
}

input {
    width: 65vw;
    height: 5vh;
    margin-top: 2vh;
    margin-left: -8vw;
    border: none;
    outline: none;
    border-bottom: 1px solid #E2E2E2;

    font-family: Avenir;
    font-size: 1.5em;
    font-weight: 700;
    color: #8B8B8B;
}


img.profilepic {
    width: 2vw;
    border-radius: 2vw;
    position: absolute;
    top: 1.5vh;
    right: 1vw;
}

img.trash {
    position: absolute;
    top: 2vh;
    right: 13vw;
    width: 1.5vw;
}


